body, html {
    height: 99%;
    background-image: url("./images/157364-abstract-red-background-vector-illustration.jpg");
}

#ball {
    width: 25px;
    height: 25px;
    background-image: url("./images/kisspng-golf-balls-clip-art-golf-5ab8a94d9635d0.0668179415220514056153.jpg");
    position: absolute;
    left: 10px;
    top:0px;
    border: 2px solid white;
    border-radius: 10px;
}

.bar{
    width: 20px;
    height: 100px;
    background-image: url("./images/textura-del-fondo-metal-placa-diamante-103468644.jpg");
    border: 2px solid white;
}

#score1 {
    top: 20px;
    float:left;
    left: 300px;
    position: absolute;
}

#score2 {
    top:20px;
    right: 300px;
    position: absolute;
}
#barLeft {
    top: 20px;
    float:left;
    position: absolute;
}

#barRight {
    top:20px;
    right: 0px;
    position: absolute;
}

#line {
    width: 50%;
    border-right: white dashed 5px;
    height: 100%;
}